*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slot_wrapper {
  width: 800px;
  min-height: 500px;
  margin: 50px auto;
  background-color: #FEF2CB;
}
.contents {
  padding: 20px;
}
.wrapper500 {
  width: 500px;
  margin: 20px auto;
}
.error_wrapper {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
  color: red;
  font-size: 12px;
}
.div_tac {
  text-align: center;
}
.div_form_inputs {
  padding-top: 10px;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 26px;
}
input[type="submit"] {
  width: 170px;
  height: 36px;
  padding: 5px 20px;
  font-size: 16px;
  background-color: #EE7D31;
  color: #fff;
  text-align: center;
  border: #d17639 1px solid;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background-color: #d17639;
  cursor: pointer;
}
.input_250 {
  width: 250px;
}
.white_btn {
  display: inline-block;
  width: 170px;
  height: 36px;
  padding: 5px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #EE7D31;
  text-align: center;
  border: #EE7D31 1px solid;
  border-radius: 5px;  
  text-decoration: none;
}
.white_btn:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}





/* 会員登録 */
.names_input_wrapper {
  padding-bottom: 15px;
  display: flex;
  gap: 30px;
}
.name_input_wrapper {
  display: flex;
  gap: 15px;
}
.gender_input_wrapper {
  padding-bottom: 15px;
  display: flex;
  gap: 30px;
}
.input_wrapper {
  padding-bottom: 15px;
  display: flex;
  gap: 30px;
}
.input_wrapper p {
  width: 120px;
}